@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #171923;
    
    --muted: #ebeef4;
    --muted-foreground: #64748b;

    --border: #9db2cd;

    --primary: #008fa3;
    --secondary: #fed879;
  }
}

* {
    @apply border-border  ;
  }

body {
    @apply text-foreground bg-primary;
  }
